body {
    background-color: #313131;
}

h1 {color: rgb(243, 239, 225); text-align: center; margin-bottom: 80px;}
h2 {color: rgb(246, 251, 255); text-align: center; margin-top: 100px;}
p {color:rgb(190, 247, 247); text-align: center; margin-top: 20px;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d1d1dbd;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #2e2e2e8c;
  }

.links {
margin-bottom: 90px;
}

.links a {
text-align: center;
}

.links a p {
  text-align: center;
  color:#789ce9e7;
  font-weight: bold;
}


hr {
  border: 1px dashed rgba(128, 128, 128, 0.281);
}